<!---- コメント入力フォーム ----->
<%= form_with(model: [post, comment], url: post_comments_path(@post) ) do |f| %>
    <%= f.text_area :content, required: true, size: "60x5", autocomplete: "content_cont", class:"area-field" %>
    <div class="d-flex justify-content-end">
      <%= f.submit "書き込む", class:"submit-btn comment-btn" %>
    </div>
<% end %>
