<h1 class="content-title">---いいねした一覧ページ---</h1>
<%= render "list" %>
<div class="paginate-btn">
  <%= paginate @likes %>
</div>
<hr>
<p class="post-move"><%= link_to "マイページへ", mypage_path(current_user), class:"move-btn" %></p>
