<div class="top-container d-flex align-items-center justify-content-center bg-success">
  <h2 class="content-title text-white font-weight-bolder">---Goodリスト---</h2>
</div>
<%= render "list" %>
<div class="paginate-btn">
  <%= paginate @likes %>
</div>
<hr>
<p class="d-flex justify-content-end"><%= link_to "マイページへ", mypage_path(current_user), class:"page-post text-white btn btn-info" %></p>
