/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

/* max-width */

.submit-btn {
  display: inline-block;
  border-radius: 5%;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  padding: 7px 10px;
  background: #000066;
  color: #ffffff;
  line-height: 1em;
  transition: 0.3s;
  box-shadow: 3px 3px 2px #666666;
  border: 2px solid #000066;
}

.submit-btn:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}

// field全般
.area-field {
  resize: none;
  font-size: 15px;
  padding: 5px;
  width: 75%;
}

.text-area-field {
  padding: 5px;
  width: 95%;
}

.input-area-field {
  margin-top: 40px;
  padding: 5px;
  width: 40%;
}

.flash-msg {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-color: gray;
}

// スマホ用
@media (max-width: 767px) {
  .top-container {
    height: 120px;
  }

  .title {
    font-size: 20px;
  }

  .title-text {
    font-size: 20px;
  }

  .message-title {
    height: 100px;
  }

  .message-text {
    font-size: 15px;
    height: 80px;
  }

  .menu-wrapper {
    height: 80px;
  }

  .menu-select {
    font-size: 15px;
  }

  .menu-select-btn {
    height: auto;
    padding: 20px;
  }

  .guest-btn {
    margin-top: 20px;
  }

  .select-btn {
    font-size: 15px;
  }

  .infomation-container {
    height: 40px;
    margin-top: 10px;
  }

  .infomation-title {
    font-size: 15px;
  }

  .infomation-text {
    font-size: 13px;
  }

  // マイページ
  .mymenu-wrapper {
    height: 70px;
  }

  .content-title {
    font-size: 20px;
  }

  .name-text {
    font-size: 15px;
  }

  .mymenu-select {
    font-size: 15px;
    margin: 20px;
  }

  .menu-btn {
    height: auto;
    padding: 20px;
  }

  // 投稿一覧
  .search-title {
    font-size: 15px;
  }

  .list-search {
    padding: 10px;
  }

  .clear-btn {
    font-size: 13px;
  }

  .option-btn {
    font-size: 13px;
  }

  .page-link {
    font-size: 15px;
  }

  // 新規投稿
  .post-title {
    font-size: 15px;
  }

  .text-area-field {
    font-size: 13px;
  }

  .page-post {
    font-size: 13px;
  }

  .submit-btn {
    font-size: 13px;
    margin-bottom: 15px;
  }

  // 投稿詳細
  .comment-create {
    width: 100%;
    margin: auto;
  }

  .comment-title {
    font-size: 15px;
  }

  .text-comments {
    font-size: 17px;
  }

  .comment-count {
    font-size: 13px;
  }

  // 新規投稿とログイン
  .input-area-field {
    width: 90%;
  }

  // アカウント編集
  .acount-delete {
    font-size: 20px;
  }

  .delete-text {
    font-size: 15px;
  }

  .acount-delete-btn {
    font-size: 15px;
  }

  // お問い合わせフォーム
  .contact-title {
    font-size: 15px;
  }

  // FlashMessage
  .flash-msg {
    font-size: 15px;
  }

  // header
  .navbar-brand {
    font-size: 15px;
  }

  // footer
  .footer-text {
    font-size: 10px;
  }

  .contact {
    font-size: 13px;
    margin-left: 0px;
  }
}

@media (max-width: 575px) {
  .guest-btn {
    margin-top: 0px;
  }

  .mymenu-select {
    margin: 1px;
  }

  .message-text {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
