.create-btn {
  margin-top: 20px;
}

.remember-check {
  text-align: center;
}

.error_title {
  color: red;
  padding-top: 20px;
  text-align: center;
}

.field_with_errors {
  width: 100%;
  text-align: center;
}
