// header
.header-right {
  padding-right: 5px;
  position: fixed;
  z-index: 10px;
  right: 30px;
  z-index: 20;
}

.header-right :hover {
  opacity: 1;
  background-color: #039203;
}

.header-top {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
}

.header-post {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
}

.header-mypage {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
}

.header-signup {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
}

.header-login {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
}

// footer
.footer-wrapper {
  border-top: double 7px rgb(6, 143, 6);
  text-align: center;
  padding: 50px;
}

.footer-wrapper h4 {
  font-family: fantasy;
  color: #158b2b;
  position: relative;
  padding: 0.7em 1em;
  border-top: solid 2px rgb(6, 143, 6);
  border-bottom: solid 2px rgb(6, 143, 6);
  width: 40%;
  margin: 0 30%;
}

.footer-wrapper h4:before,
h4:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: rgb(83, 173, 83);
}

.footer-wrapper h4:before {
  left: 5%;
}

.footer-wrapper h4:after {
  right: 5%;
}

.contacts-from {
  text-align: right;
}

.contacts-btn {
  color: #158b2b;
  margin-right: 40px;
  text-shadow: 1px 0 0 black;
}

.contacts-from :hover {
  color: white;
  background-color: #158b2b;
  border-radius: 5px;
  text-shadow: 1px 0 5px black;
  padding: 5px;
}
