// top-page
.top-container {
  box-shadow: 2px 2px 5px black;
  height: 200px;
  margin-top: 20px;
}

.title {
  text-shadow: 0px 5px 3px black;
  box-shadow: 2px 2px 5px black;
  padding: 20px 20px;
}

.title-text {
  text-shadow: 0px 2px 1px black;
}

.acount-wrapper {
  box-shadow: 2px 2px 5px black;
}

.menu-wrapper {
  padding-top: 40px;
}

.message-title {
  height: 170px;
}

.message-text {
  height: 100px;
}

.acount-wrapper {
  height: 250px;
}

.menu-select {
  text-shadow: 0px 2px 1px black;
}

.menu-select-btn {
  height: 100px;
}

.mymenu-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-btn {
  text-shadow: 0px 2px 1px black;
  box-shadow: 2px 2px 5px black;
  margin-left: 5%;
  margin-right: 5%;
}

.infomation-container {
  padding-top: 4%;
  height: 100px;
}

// mypage
.mymenu-wrapper {
  height: 150px;
}

.name-text {
  text-shadow: 0px 1px 1px black;
}

.current-menu {
  box-shadow: 2px 2px 5px black;
}

.mymenu-select {
  text-shadow: 0px 1px 1px black;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 1px 1px 2px black;
}

.menu-btn {
  box-shadow: 2px 2px 5px black;
  margin-bottom: 40px;
  height: 170px;
}
