// tops/index.html.erb
.all-warapper {
  width: 100%;
  height: 575px;
  margin: 0 auto;
  text-align: center;
}

.top-title {
  border-bottom: solid 2px black;
  color: rgb(51, 50, 50);
}

.message-wrapper {
  height: 498px;
  background-image: url(https://cdn.pixabay.com/photo/2020/04/09/02/13/stay-at-home-5019352__480.jpg);
  opacity: 0.9;
  background-size: contain;
  padding-top: 5px;
}

.message-wrapper p {
  color: white;
  font-size: 30px;
  text-shadow: 1px 0 5px black;
}

.btn-wrapper :hover {
  opacity: 1;
  background-color: #039203;
}

.btn-wrapper {
  padding: 50px 0 100px 0;
  font-size: 30px;
  letter-spacing: 5px;
  :active {
    box-shadow: none;
    position: relative;
    top: 7px;
    left: 5px;
  }
}

.list {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

.post {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  margin-right: 50px;
  margin-right: 20px;
  margin-left: 80px;
  padding: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

.login {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

.signup {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  opacity: 0.8;
  margin-right: 20px;
  margin-left: 80px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

.guest {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

// tops/show.html.erb
.menu-wrapper {
  height: 498px;
  background-image: url(https://cdn.pixabay.com/photo/2020/04/09/02/13/stay-at-home-5019352__480.jpg);
  opacity: 0.9;
  padding-top: 5px;
  background-size: contain;
}

.menu-wrapper p {
  color: white;
  font-size: 30px;
  text-shadow: 1px 0 5px black;
}

.username {
  color: white;
  font-size: 30px;
  text-shadow: 1px 0 5px black;
}

.edit {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

.logout {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}

.back {
  color: white;
  background-color: #4ca084;
  text-shadow: 1px 0 5px black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: 5px 7px #1a7940;
}
