<footer class="footer bg-success">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center" style="height:100px;">
      <div class="footer-text text-dark">Copyright © おうち時間 All rights reserved.</div>
      <%= link_to "お問い合わせフォーム", contacts_path, class: "contact nav-link text-light active" %>
    </div>
  </div>
</footer>