<p class="contacts-from">・<%= link_to "お問い合わせフォーム", contacts_path, class: "contacts-btn" %></p>
<div class="footer-wrapper">
  <h4 class="footer-text">Copyright © おうち時間 All rights reserved.</h4>
</div>
